*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

.app {
   display: flex;
   flex-direction: column;
   align-items: center;

   .header {
       display: flex;
       align-items: center;
       justify-content: space-around;
       width: 100vw;
       margin: 30px;
   }

   .content {
       display: grid;
       grid-template: 50px 1fr / 1fr;

       .days-Of-week {
           display: grid;
           grid-template-columns: repeat(7, 1fr);
           justify-content: center;
           align-items: center;
           
            h4 {
               border: 1px solid black;
               width: 100%;
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
           }
        }

        .calender-squares {
            display: grid;
            grid-template: repeat(6, 1fr) / repeat(7, 1fr);

            .calender-square {
                display: grid;
                grid-template: 25px 1fr / 25px 1fr;
                height: 120px;
                border: 1px solid black; 
            
                input {
                    grid-column-start: 1; 
                    grid-column-end: -1;
                    grid-row-start: 2;
                    grid-row-end: -1;
                }

                div { 
                    border: 1px solid gray;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .overflow-day {
            color: rgb(171, 171, 171);
            }  
        }
    }
}